<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can email me at gmail [at] gauravchande [dot] com. Or, you can follow me on twitter: <%= link_to '@gauravmc', 'https://twitter.com/gauravmc', target: '_blank' %>