<% provide(:title, 'Home') %>
<h1>Microblogging</h1>
<p>
  This is the home page for the sample application I've made using Ruby on Rails.
	This app is basically for microblogging, similar to Twitter. Hope you enjoy it! :)
</p>
<div style="text-align:center;">
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-info" %>
</div>