<div class="span12"><!-- Footer -->
  <div class="btn-group footer">
	<%= link_to "About", about_path, class: "btn" %>
	<%= link_to "Contact", contact_path, class: "btn" %>
	<%= link_to "News", 'http://news.railstutorial.org/', class: "btn", target: "_blank" %>
  </div>
</div><!-- Footer -->